@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  font-optical-sizing: auto;
}
body {
  background: linear-gradient(to right, #1e3c4c, #0d1117);
}
